bbdd.db/
__pycache__/
Informacion/
Informavet ver 3 (noticias).py
Informavet ver 3.1 (trabajos, noticias).py
Inserción de noticias en bbdd.py
otras versiones/
partes/
versiones.txt
.vscode/
Navicat Premium
Datos_de_acceso.py
modelos.txt
